.header {
  grid-area: header;
}

.left-main {
  grid-area: leftCol;
}
.main {
  grid-area: main;
}

.right-main {
  grid-area: rightCol;
}

.footer {
  grid-area: footer;
}

.container {
  display: grid;
  grid-template-columns: auto 12vw 45vw 12vw auto;
  grid-template-rows: 8vh 76vh 12vh auto auto;
  grid-template-areas:
    "header  header header header header"
    ". leftCol main rightCol ."
    "footer footer footer footer footer";
}
